body{
    background-color: orange;
    font-size:24px;
    font-family:'sans-serif';
}
img{
    height:500;
    width:300;
    border-radius:20px;
    float:left;
    padding:20px;
}
#projects{
    margin-left:180px;
    position:relative;
    right:-50px;
    display:flex;
    flex-direction:column;
    font-size: 24px;
}
h1{
    text-shadow: 2px 2px 2px lightblue;
    text-align: center;
}
.me{
    text-shadow: 2px 2px 2px black;
    text-align:center;
}
h4{
    font-size: 24px;
    font-style: italic;
}
